
.select-item{
    display: table;
    width:100%;
    //grid-template-columns: auto 1fr;
    & *{
        cursor: pointer;
    }
    > label{
        vertical-align: middle;
        display: table-cell;
        padding: 0.5rem 1rem;
    }
}
.select-item-li-hidden{
    display: none;
}
.select-header{
    background-color: $gray-200;
    height: 30px;
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: 1px solid $gray-400;
}
.select-search{
    //margin:8px;
    border: 1px solid $gray-400;
    border-radius: $border-radius;
    padding: 0.3rem 0.5rem;
    width:100%;
}
.select-search-container{
    width:100%;
    padding:8px;
    border-bottom: 1px solid $gray-400;
}
.select-item-li {
  
}
  .gr-input-wrapper:focus-within{
    box-shadow: $focused-boxShadow;
  }
  .custom-input {
    border:none;
    background-color: transparent;
    padding: .3rem 0rem;
    margin: .2rem 0rem;
  }
  .custom-input:focus{
    filter:none;
    outline: none;
  }
  .custom-input:read-only{
    cursor: pointer;
  }
  .input-content-container{
    display:inline-flex;
    flex-flow: row;
    overflow: auto hidden;
  }
  .input-content {
    position: relative;
    display:inline-block;
    color:white;
    border-radius:5px;
    padding: .2rem 0.5rem;
    //cursor: pointer;
    margin: .2rem .2rem .2rem 0rem;
    user-select: none;
    white-space: nowrap;
  }
  .input-content-close{
    position:absolute;
    right:-3px;
    top:-3px;
    width:10px;
    height:10px;
    color:white;
    border-radius: 15px;
    background-color: red;
    padding:2px;
    cursor: pointer;
    filter:$button-filter;
    user-select: none;
    &:hover{
        background-color:lighten(red,10%);
    }
  }
  .listview-header{
    
    border-radius: $border-radius $border-radius 0 0;
    cursor: default;
    background-color: #e3e3e3;
    user-select: none;
    padding:$menu-subitem-padding-y $menu-subitem-padding-y;
    font-weight: $font-weight-bold;
    font-size: $font-size-sml;
    //top:0;
}
// input[type="checkbox"] {
//     /* Scale the checkbox - 1.5 times the original size */
//     transform: scale(1.5);

//     /* Optional: you may want to adjust the margin to accommodate the larger checkbox */
//     margin: 5px;
// }
.gr-checkbox{
    display: grid;
    grid-template-columns: 1fr auto;
    min-width: 100px;
    padding:$menu-subitem-padding-y $menu-subitem-padding-y;
    
    padding-left: 15px;
    text-align: left;
    font-weight: $font-weight-bold;
    user-select: none;
    cursor: pointer;
    > label{
        cursor: pointer;
    }
    > input[type="checkbox"]{
        display: none;
    }
    > input[type="checkbox"]:checked + .checkbox-label {
        background-color: $blue; /* Background when checked */
    }
    /* Optional: style for a checkmark */
    > input[type="checkbox"]:checked + .checkbox-label:after {
        content: "";
        position: absolute;
        left: 7px;
        top: 3px;
        width: 6px;
        height: 12px;
        border: solid $white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    .checkbox-label {
        display: inline-block;
        width: 20px; /* Width of the checkbox */
        height: 20px; /* Height of the checkbox */
        //border: 2px solid $gray-600; /* Border of the checkbox */
        background-color: rgba(0,0,0,.1);
        border-radius: $btn-border-radius-sml;
        //cursor: pointer;
        position: relative;
        margin:auto 5px auto 10px;
        text-align: center;
    }
}