.search-tag{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $gray-400;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width:500px;
    max-width: calc(100% - 10px);
    p{
        margin:0;
    }
}
.search-tag-header{
    margin:-9px;
    border-radius: 5px 5px 0 0;
    background-color: $gray-600;
    padding:10px;
    display: grid;
    grid-template-columns: 1fr auto;
    color:white;
}
.search-tag-pc{
    font-size: small;
    text-align: left;
}
.search-tag-date{
    font-size: small;
    text-align: right;
}
.search-tag-title{
    grid-column: span 2;
    text-align: left;
    font-size: medium;
}
.search-tag-body{
    margin-top:10px;
    display: grid;
    grid-template-columns: 60px 1fr;
    text-align: left;

}
.search-tag-body-tags{
    display:inline-flex;
}
.search-tag-body-tag{
    display: inline-block;
    border-radius: 3px;
    padding:2px;
    background-color: $gray-600;
    color:white;
    margin-right: 2px;
}