.message-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1202;
  }
  
  .message-box--success {
    background-color: #4caf50;
  }
  
  .message-box--error {
    background-color: #f44336;
  }
  
  .message-box--info {
    background-color: #2196f3;
  }
  
  .message-box__close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .message-box--loading {
    display: inline-block;
    background-color: #4caf50;
    transform: translate(-50% -50%);
    top:50%;
    left:50%;
    bottom: auto;
    right: auto;
  }